<div class="container">
  <label class="text-center titulo">Incrementando os Estudos</label>
  <div class="inner">&nbsp;</div>

  <div class="container no-margin no-padding">
    <div class="row">
      
      <div class="col-12 padding-bottom-20">
        <div class="row">
          <div class="col-6 padding-left-15">
            <img class="icone text-center" src="assets/lightbulb-feature.svg" />
            <p class="icone-titulo">
              Regra Mnemônica
            </p>
            <p class="icone-descricao">
              Descomplique a memorização registrando regras mnemônicas
            </p>
          </div>
          
          <div class="col-6 padding-left-15">
            <img class="icone text-center" src="assets/image-feature.svg" />
            <p class="icone-titulo">
              Imagem
            </p>
            <p class="icone-descricao">
              Ilustre o texto com suas próprias imagens
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 padding-bottom-20">
        <div class="row">
          <div class="col-6 padding-left-15">
            <img class="icone text-center" src="assets/audio-feature.svg" />
            <p class="icone-titulo">
              Áudio
            </p>
            <p class="icone-descricao">
              Grave comentários em aúdio sobre o conteúdo
            </p>
          </div>
          
          <div class="col-6 padding-left-15">
            <img class="icone text-center" src="assets/video-feature.svg" />
            <p class="icone-titulo">
              Vídeos
            </p>
            <p class="icone-descricao">
              Dinamize os estudos com seus próprios vídeos
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 padding-bottom-20">
        <div class="row">
          <div class="col-6 padding-left-15">
            <img class="icone text-center" src="assets/text-feature.svg" />
            <p class="icone-titulo">
              Texto
            </p>
            <p class="icone-descricao">
              Acrescente anotações de texto personalizadas
            </p>
          </div>
          
          <div class="col-6 padding-left-15">
            <img class="icone text-center" src="assets/book-feature.svg" />
            <p class="icone-titulo">
              Contribua
            </p>
            <p class="icone-descricao">
              Traga sua própria didática para dentro da apostila digital!
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>