<div class="container no-padding">
  <div class="background">
    <div class="col-12 no-padding">
      <div class="row no-margin">
        <img src="assets/logo.svg" class="logo" />
      </div>
      <div class="row no-margin">
        <label class="subtitulo text-center full-width">Contribuições</label>
      </div>
    </div>
    
    <div class="row col-12 no-padding no-margin">
      <div class="col-8 no-padding">
          <span class="frase">
            Os estudos são muito melhores quando o material tem a sua voz e estilo!
          </span>
          <div class="padding-top-125 padding-left-50">
            <button class="btn btn-descobrir" (click)="scrollToElement()">Descobrir</button>
          </div>
      </div>
      <div class="col-4 float-right phone no-padding">
        <img src="assets/iphone.png" class="" />
      </div>
    </div>
  </div>

  <div>
    <img class="full-width" src="assets/onda.svg" />
  </div>
</div>