.background {
    width: 100%;
    height: 592px;
    background-color: #dcf2de;
    background-size: cover;
}

.titulo {
    width: 100%;
    height: 21px;
    font-family: Roboto;
    font-size: 18px;
    color: #f2937e;
    font-weight: 700;
    text-decoration: none solid rgb(242, 147, 126);
    text-align: center;
}

.circle {
    width: 17px;
    height: 17px;
    border: 2px solid #f2937e;
    border-radius: 50%;
    background-size: cover;
    font-family: Roboto;
    font-size: 10px;
    color: #f2937e;
    font-weight: 700;
    text-align: center;
    display: inline-block;
}

.row {
    margin: 0 !important;
}

.margin-top-40 {
    margin-top: 40px !important;
}

.phone {
    position: relative;
}

.tutorial-tip {
    font-family: Roboto;
    font-size: 12px;
    color: #333333;
    cursor: pointer;
}

.tutorial-tip.inactive {
    opacity: 0.3;
}


.tutorial-content {
    margin-top: 35px !important;
}

.inner {
    margin: 0px auto;
    border-bottom: 3px solid #f2937e;
    width: 50px;
    height: 0;
    border-radius: 40px;
}

.phone-mock {
    position: relative;
    top: 0;
    left: 0;
}

.phone-gif {
    width: 147px;
    height: 322px;
    position: absolute;
    top: 11px;
    left: 16px;
    z-index: 2;
}

.tutorial-zoom {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

.zoom-in {
    width: 31px;
    height: 31px;
    border-radius: 7px;
    background-color: #ffffff;
    background-size: cover;
    position: absolute;
    bottom: 83px;
    z-index: 3;
    right: 10px;
}

.zoom-in-icon {
    background-image: url('/../../assets/zoom-in.svg');
}

.zoom-out {
    width: 31px;
    height: 31px;
    border-radius: 7px;
    background-color: #363636;
    background-size: cover;
    position: absolute;
    bottom: 120px;
    z-index: 6;
    right: 10px;
    position: fixed;
    opacity: 0.7;
}

.zoom-out-icon {
    background-image: url('/../../assets/zoom-out.svg');
}

.tutorial-zoom-tip {
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 63px;
    background-color: #ffffff;
    background-size: cover;
    box-shadow: 0px -3px 13px 3px rgba(0,0,0,0.6);
    bottom: 75px;
    padding: 10px
}

.tutorial-zoom-tip-text {
    width: 333px;
    height: 28px;
    font-family: Roboto;
    font-size: 12px;
    color: #333333;
    text-decoration: none solid rgb(51, 51, 51);
    display: inline-block;
}